/* This file will be with css code */
body{
    font-family: 'PT Sans Caption', sans-serif;     /*type of font for body*/
}
.header{
    background: linear-gradient(90deg,#ffea9e,#ffd541);
    color: #fff;
}
.nav-item{
    display: inline;
    font-size: 22px;
    
    list-style: none;
}

.nav-link{
    color: rgb(155, 129, 13);
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
    font-weight: bold;

}
.section-title{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(155, 129, 13);
}
.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    background-color: #ffd541;
}
.footer p{
    display: inline-block;
    color: black;
    font-size: 18px;
}
.footer-link{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.footer a{
    display: inline-block;
}
.img-logors{
    background-image: url("./assets/img/logo_rs.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 121px;
    height: 45px;
}